<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Chap-Dabali</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" href="css/style.css">
        
    </head>
<body>
<!-- Debut du Menu de navigation-->
<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand"><span><img src="images/ci.jpg" alt="" style="height: 30px"></span> Chap-Dabali <span><img src="images/ci.jpg" alt="" style="height: 30px"></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Acceuil
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#commentaire">Commentaire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#article">Nos articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">A propos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
   <!-- Fin du Menu de navigation-->
<!--  Debut slider  -->   
   <div class="wrap">
  <div id="arrow-left" class="arrow"></div>
  <div id="slider">
    <div class="slide slide1">
      <div class="slide-content">
        <span> Tout sur l'attiéké</span>
      </div>
    </div>
    <div class="slide slide2">
      <div class="slide-content">
        <span>Une beauté culinaire</span>
      </div>
    </div>
    <div class="slide slide3">
      <div class="slide-content">
        <span>L'attiéké une fierté pour notre patrie</span>
      </div>
    </div>
  </div>
  
  <div id="arrow-right" class="arrow"></div>
</div>
 <!--  fin slider  -->  

      <h1 class="text-center light text-success"></h1>
</header>

    

	
	<div class="container">
	
	
<!--       Debut article 	-->
                   <div class="row">
                                             <div class="card" style="width: 120rem;margin-bottom:75px;">
  <div class="card-body">
    <h3 class="card-title light text-success">LE SAVIEZ-VOUS</h3>
    <p class="card-text" style="color:grey; font-size:20px"> Le mot attiéké est une déformation du mot 'adjèkè' de la langue ébrié parlée dans le sud de la Côte d'Ivoire. à l'origine (et parfois encore aujourd'hui), les femmes ébriés ne confectionnent pas de la même manière l'attiéké qu'elles vendent avec celui qui est consommé par leur propre ménage.
                                    Par conséquent, elles qualifiaient d'adjèkè le produit vendu pour le commerce ou pour la vente, afin de marquer la différence avec le produit consommé à la maison (Ahi). Ce sont ensuite les transporteurs bambara qui ont propagé ce mot le faisant passer à 'atchèkè' puis le colons (certainement pour motif d'esthétisme à l'écriture) écrivit 'attiéké'.
                                    Spécialité culinaire de certains peuples lagunaires (Ebrié, Adjoukrou, Alladian, Avikam, Attié, Ahizi) du Sud de la Côte d'Ivoire, l'attiéké est traditionnellement produit par les femmes, des équipes constituées dans le village se groupant pour la production. Sa consommation est tellement forte que des usines ont été construites pour le fabriquer.
                                    </p>
  </div>
</div>
                            
                                <div class="card" style="width: 18rem;">
                                      <img src="images/prepa.jpg" class="card-img-top" alt="...">
                                      <div class="card-body">
                                        <h5 class="card-title itle light text-success">L'attiéké fait-il vraiment dormir?</h5>
                                        <p class="card-text"style="color:grey; font-size:20px">Il a la réputation de faire dormir. Certains diront que c'est parce qu'il rassasie bien, d'autres aussi c'est a cause de l'huile et d'autres parce qu'il a une haute teneur en amidon</p>
                                        <a href="#" class="btn btn-primary">Richesse culinaire</a>
                                      </div>
                                </div>
                   <div class="card" style="width: 18rem;margin-left:11%">
  <img src="images/prepa.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title light text-success">Sa composition calorique</h5>
    <p class="card-text" style="color:grey; font-size:20px"> L'attiéké est composé à plus de 95 % de glucides, il est très pauvre en lipides (environ 2 %) ainsi qu'en protides (moins de 2 %).Sa valeur calorique est faible, avec environ 350 kCal pour 100 g.</p>
    <a href="#" class="btn btn-primary">Richesse culinaire</a>
  </div>
</div>
                   <div class="card" style="width: 18rem; margin-left:13%;">
  <img src="images/prepa.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title light text-success">L'attiéké est economique</h5>
    <p class="card-text"style="color:grey; font-size:20px">
                                    Toujours est-il que c'est un accompagnement prisé par les populations pauvres car il donne l'impression de manger à satiété pour un faible prix.Et avec en moyen 100f la boule d'attiéké </p>
    <a href="#" class="btn btn-primary">Richesse culinaire</a>
  </div>
</div>
                   
                </div>
<!--Fin article-->
                               
                <div class="row"> 	
					<div class="col-md-12">	
						<div class="masthead well well-sm">
							<h1>
								<span class="light text-success"></span>
							</h1>
						</div>
					</div>
				</div>
<!--Le corps pour les differentes photos attiéké-->
	<div class="row orange">
	
	<!-- Debut team-1-->
	    <div class="col-lg-4">
	        <div class="our-team-main">
	
	            <div class="team-front">
	                <img src="images/garba.jpg" class="img-fluid" />
	                <h3>Garba</h3>
	                <p>Attieké accompagné de thon</p>
	            </div>
	
	            <div class="team-back">
	                <span>
                    Le garba est un plat populaire accompagnée de thon, essentiellement vendu dans de petites échoppes de rue tenues par des hommes. Il se compose de semoule de manioc et de morceaux de thon frits accompagnés de piments frais hachés. On l'appelle aussi zéguen, guéro.
                    </span>
                </div>
	
	        </div>
	    </div>
	<!--Fin team-1-->
	
	<!--team-2-->
	<div class="col-lg-4">
	    <div class="our-team-main">
	
	        <div class="team-front">
	            <img src="images/attiekefemme.jpg" class="img-fluid" />
	            <h3>Attieké de femme</h3>
	            <p>Les consommeurs ivoiriens font la difference avec le garba</p>
	        </div>
	
	        <div class="team-back">
	            <span>
                ce plat est appelé ainsi simplement parce que a la difference du garba ce sont les femmes qui le font. La presentation est assez differente de celle du garba, les poissons qui servent d'accompagnement ne sont pas exculsivement du thon comme le garba dont l'identité remarquable est ce fameux poisson thon.
                </span>
            </div>
	
	    </div>
	</div>
	<!--Fin team-2-->
	
	<!--Debut team-3-->
	<div class="col-lg-4">
	    <div class="our-team-main">
	
	        <div class="team-front">
	            <img src="images/attiekepoulet.jpg" class="img-fluid" />
	            <h3>Attieké avec poulet braisé</h3>
	            <p>L'attiéké se mange aussi avec du poulet</p>
	        </div>
	
	        <div class="team-back">
                <span>
                   L'attiéké peut être aussi accompagné avec de la viande. Mais la viande la plus appreciée pour accompagner l'attiéké c'est bien le poulet.Aussi là on fait la difference entre l'attieké poulet braisé des hommes et celui des femmmes. A en croit que les ivoiriens ont le soucis du detail avec cette histoire d'attiéké. 
                </span>
	        </div>
	
	    </div>
	</div>
	<!--Fin team-3-->
	
	<!--Debut team-4-->
	<div class="col-lg-4">
	    <div class="our-team-main">
	
	        <div class="team-front">
                <img src="images/attiekerouge.jpg" class="img-fluid"/>
                <h3>L'attieké a l'huile Rouge</h3>
                <p>Communement appelé attiéké teinté</p>
            </div>

	        <div class="team-back">
                <span>
                Cette decouverte qu'est l'attiéké est vraiment une trouvaille magnifique en ce sens qu'elle peut s'accompagner de presque n'importe quoi. On peut le consommer avec de la sauce essentiellement de la sauce graine ou encore claire avec l'attiéké transformé avec de l'huile rouge. 
                </span>
	        </div>
	
	    </div>
	</div>
	<!--Fin team-4-->
	
	<!--Debut team-5-->
		<div class="col-lg-4">
	    <div class="our-team-main">
	
	        <div class="team-front">
	            <img src="images/attiekefemme.jpg" class="img-fluid" />
	            <h3>Attieké de femme</h3>
	            <p>Les consommeurs ivoiriens font la difference avec le garba</p>
	        </div>
	
	        <div class="team-back">
	            <span>
                ce plat est appelé ainsi simplement parce que a la difference du garba ce sont les femmes qui le font. La presentation est assez differente de celle du garba, les poissons qui servent d'accompagnement ne sont pas exculsivement du thon comme le garba dont l'identité remarquable est ce fameux poisson thon.
                </span>
            </div>
	
	    </div>
	</div>
	<!--Fin team-5-->
	
	<!--Debut team-6-->
	<div class="col-lg-4">
	    <div class="our-team-main">
	
	        <div class="team-front">
	            <img src="images/attiekefemme.jpg" class="img-fluid" />
	            <h3>Attieké de femme</h3>
	            <p>Les consommeurs ivoiriens font la difference avec le garba</p>
	        </div>
	
	        <div class="team-back">
	            <span>
                ce plat est appelé ainsi simplement parce que a la difference du garba ce sont les femmes qui le font. La presentation est assez differente de celle du garba, les poissons qui servent d'accompagnement ne sont pas exculsivement du thon comme le garba dont l'identité remarquable est ce fameux poisson thon.
                </span>
            </div>
	
	    </div>
	</div>
	<!--Fin team-6-->
	
	</div>
    <!--	Fin du corps-->
    
    
    
    
    
		
	    <h1 class="text-center light text-success">Si l'article vous a plu n'hesitez pas a commenter pour m'encourager</h1>
	
	    <div class="row">
	        <div class="col-lg-10">
   <!--Message d'erreur ou de succès-->
	  
           <%if(locals.flash && locals.flash.error){%>
              <div class="messError"><%= flash.error%></div>
          <%}%>
           <%if(locals.flash && locals.flash.success){%>
              <div class="mesSuccess"><%= flash.success%></div>
          <%}%>
    <!--Message d'erreur ou de succès-->
           
           
        <!--Formulaire pour poster les commentaires-->
        <div class="form">
        <form class="form-horizontal"  method="post" action="/">

        <!-- Champ du commentaire-->
        
                <div class="form-group">
                  <label class="col-md-4 control-label" for="message">Commentaire</label>  
                  <div class="col-lg-12">
                  <textarea id="message" name="message" placeholder="" class="form-control input-lg"></textarea>

                  </div>
                </div>
        <!-- Fin Champ du commentaire-->
               
               
        <!-- Champ du nom et prenom de celui qui poste le commentaire-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Nom</label>  
                    <div class="col-lg-6">
                    <input type="text" id="name" name="name" placeholder="" class="form-control input-lg">
                    </div>
                </div>
                
                <div class="form-group">
                  <label class="col-md-4 control-label" for="email">Email</label>  
                  <div class="col-lg-6">
                  <input type="text" id="email" name="email" placeholder="" class="form-control input-lg">

                  </div>
                </div>
        <!--Fin Champ du nom de celui qui poste le commentaire-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="save"></label>
                  <div class="col-md-8">
                  <input type="submit" id="save" name="save" class="btn btn-primary glyphicon glyphicon-envelope" value="Envoyer">
                  </div>
                </div>
        </form>
       <!--   Fin du formulaire     -->
       </div>
    </div>
       
       
       
        <!-- Affichage des commentaire -->
        <div class="row" id="commentaire">
          <div class="col-lg-10 col-lg-offset-1">
            <div  class="col-lg-10 col-lg-offset-1">
                <div class="page-header">
                    <h1><small class="pull-right light text-success">Commentaire</small> </h1>
                </div>
                    <!-- Boucle pour incrementer les commentaire-->
                      <%for(message of message)
                        {%>
                   
                           <div class="comments-list">
                               <div class="media">
                                   <div class="media-body">
                                        <div class="alert alert-primary" role="alert">
                                          <h4 class="media-heading user_name"><%=message.nom%></h4>
                                              <div class="" style="margin-top:35px"><%= message.content%></div>
                                                  <p class="heure">
                                                      <small><%=message.create_date.fromNow()%>
                                                      </small> 
                                                      
                                                      

                                                  </p>
                                                <a class="media-left" href="#">
                                                  <img class="generik" src="images/generique.jpg">
                                                </a>
                                        </div>
                          
                           
                                    </div>
                           
                                </div>
                            </div>
                        <%}%>       
              
              
          
              </div>
    <!-- Fin boucle-->
        
        <!-- Prochain article -->

    <!--Grid row-->
    <div class="row"id="article">

      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="images/alloco.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="images/foutou.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="images/placali.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="images/igname.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="images/arachide.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="images/graine.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  
  <!-- Prochain article -->
<!-- Footer -->
</div>
<footer class="page-footer enbas">

    <div id="about" >
      <div class="">

        <!-- Grid row-->
        <div class="">

          <!-- Grid column -->
          <div class=" col-lg-12">
            <marquee><h6 style="font-size: 30px">Nos prochains articles qui seront disponible sur <span><img src="images/ci.jpg" alt="" style="height: 30px"></span> Chap-Dabali <span><img src="images/ci.jpg" alt="" style="height: 30px"></span> très bientôt restez donc branché</h6></marquee>
          </div>
       
          <!-- Grid column -->

        </div>
        <!-- Grid row-->

      </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Chap-Dabali</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>On vous fait connaitre la culture culinaire de notre cher patrie.Son histoire, la recette, et tous les details </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i> Angré cocody</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> Jeremiedry@gamil.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> +22577129951</p>
          <p>
            <i class="fas fa-print mr-3"></i> +22553888861</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="http://localhost:8081/"> ChapDabali.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
	
	</body>
      </html>
      
    
   
  
 




<script src="js/script.js"></script>
































































































